--extra-index-url https://download.pytorch.org/whl/cpu
torch
streamlit
fpdf2
pandas
scikit-learn
sentence-transformers
transformers
numpy
python-dotenv
pypdf
langchain-community
langchain-text-splitters
langchain-huggingface
faiss-cpu